{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="container">
        <div class="row py-4 mt-4 align-items-center">
            <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
                <img width="90%" src="{% static 'images/login_grl.png' %}" alt="girl" class="img-fluid mb-3 d-none d-md-block">
            </div>

            <div class="col-md-7 col-lg-6 ml-auto">
                <h1>Login</h1>

                <form action="{% url 'login user' %}" method="post">

                      {% if form.errors %}
                        <div class="alert alert-danger">
                          <ul>
                            {% for error in form.non_field_errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% endif %}

                    <div class="row">

                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-sm border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                        {{ form.username }}
                        </div>

                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-sm border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                        {{ form.password }}
                        </div>

                    </div>

                    <div class="form-group col-lg-12 mx-auto mb-3">
                        <button type="submit" class="btn btn-primary btn-block py-2">Login</button>
                        {% csrf_token %}
                    </div>
                </form>

                <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                    <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                    <div class="border-bottom w-100 mr-5"></div>
                </div>

                <div class="text-center w-100">
                    <p class="text-muted font-weight-bold">Not Registered? <a href="{% url 'register user' %}" class="text-primary ml-2">Register</a></p>
                </div>

            </div>
        </div>

    </div>


{% endblock %}




