{% extends 'base.html' %}

{% load static %}

{% block main_content %}


    <div class="container">
        <div class="row py-4 mt-4 align-items-center">
            <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
                <h1 class="text-center">Create an Account</h1>
                <img width="90%" src="{% static 'images/login_grl.png' %}" alt="girl" class="img-fluid mb-3 d-none d-md-block">
            </div>

            <div class="col-md-7 col-lg-6 ml-auto">

                <form action="{% url 'register user' %}" method="post">

                    <div class="row">

                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>

                        {{ form.username }}
                            {% if form.username.errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in form.username.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>

                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>

                        {{ form.email }}
                            {% if form.email.errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in form.email.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>

                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-calendar-alt text-muted"></i>
                                </span>
                            </div>

                        {{ form.date_of_birth }}
                            {% if form.date_of_birth.errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in form.date_of_birth.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>

                        <div class="input-group col-lg-12 mb-4">

                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                                        <i class="fa fa-venus-mars text-muted"></i>
                                    </span>
                                </div>

                                <label for="{{ form.gender.id_for_label }}" class="input-group-text bg-white border-md border-left-0 text-muted">
                                    Gender:
                                </label>
                                <select id="{{ form.gender.id_for_label }}" name="{{ form.gender.html_name }}" class="form-select my-form">
                                {% for value, label in form.gender.field.choices %}
                                    <option value="{{ value }}" {% if value == form.gender.value %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                                </select>

                                {% if form.gender.errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for error in form.gender.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>

                        </div>

                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-phone-square text-muted"></i>
                                </span>
                            </div>

                        {{ form.phone }}
                            {% if form.phone.errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in form.phone.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>

                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>

                            {{ form.password1 }}
                            {% if form.password1.errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in form.password1.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>

                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>

                            {{ form.password2 }}
                            {% if form.password2.errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in form.password2.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>

                    </div>

                    <div class="form-group col-lg-2 mx-auto mb-3">
                        <button type="submit" class="btn btn-primary btn-block py-2">Register</button>
                        {% csrf_token %}
                    </div>
                </form>

                <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                    <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                    <div class="border-bottom w-100 mr-5"></div>
                </div>

                <div class="text-center w-100">
                    <p class="text-muted font-weight-bold">Already Registered? <a href="{% url 'login user' %}" class="text-primary ml-2">Login</a></p>
                </div>

            </div>
        </div>

    </div>

{% endblock %}



