{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="container mt-4 mb-4 pb-5">

        <div class="row">

            <div class="col-md-6 text-center">
                <div class="article-image mt-5 mb-5">
                    <img src="{{ object.image_product.url }}" class="img-fluid" alt="Product image">
                </div>
            </div>

            <div class="col-md-6">
                <div class="article-text">
                    <h2 class="article-title"><b>{{ object.brand }}</b> {{ object.title_product }}</h2>
                    <h5 class="article-title text-muted">Category: {{ object.category }}</h5>
                    <h5 class="article-title">${{ object.price }}</h5>

                    {% if not request.user.is_staff %}
                    <p class="mb-5">
                        <a href="{% url 'add to cart' slug=object.slug %}" class="btn btn-secondary me-2">Add to cart</a>
                    </p>
                    {% endif %}

                    <div class="mt-4">
                        <div class="meta">
                            <h6><b>About the product:</b></h6>
                            <p>{{ object.description }}</p>
                        </div>

                        <div class="dropdown">
                            <p class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <b>Ingredients</b> <i class="fa-solid fa-square-caret-down"></i>
                            </p>
                            <ul class="dropdown-menu product-item" aria-labelledby="dropdownMenuButton">
                                <li class="px-3">
                                    {{ object.ingredients }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    {% if request.user.is_staff or request.user.is_superuser %}
        <p class="mb-5">
            <a href="{% url 'edit product' slug=object.slug %}" class="btn btn-secondary me-2">Edit product</a>
            <a href="{% url 'delete product' slug=object.slug %}" class="btn btn-secondary">Delete product</a>
        </p>
    {% endif %}

    </div>

{% endblock %}