{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="why-choose-section">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="article-text">
                        <div class="icon">
                            <img src="{% static 'images/cosmetics-svgrepo-com.svg' %}" alt="Image" class="imf-fluid">
                        </div>
                        <h1 class="article-title">Brands:</h1>
                    </div>
                </div>
            </div>

{#      <div class="why-choose-section">#}
{#			<div class="container">#}
{#                #}
{#				<div class="row my-5">#}
{#					<div class="col-6 col-md-6 col-lg-3 mb-4">#}
{#						<div class="feature">#}
{#							<div class="icon">#}
{#								<img src="images/truck.svg" alt="Image" class="imf-fluid">#}
{#							</div>#}
{#							<h3>Fast &amp; Free Shipping</h3>#}
{#							<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-6 col-md-6 col-lg-3 mb-4">#}
{#						<div class="feature">#}
{#							<div class="icon">#}
{#								<img src="images/bag.svg" alt="Image" class="imf-fluid">#}
{#							</div>#}
{#							<h3>Easy to Shop</h3>#}
{#							<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-6 col-md-6 col-lg-3 mb-4">#}
{#						<div class="feature">#}
{#							<div class="icon">#}
{#								<img src="images/support.svg" alt="Image" class="imf-fluid">#}
{#							</div>#}
{#							<h3>24/7 Support</h3>#}
{#							<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-6 col-md-6 col-lg-3 mb-4">#}
{#						<div class="feature">#}
{#							<div class="icon">#}
{#								<img src="images/return.svg" alt="Image" class="imf-fluid">#}
{#							</div>#}
{#							<h3>Hassle Free Returns</h3>#}
{#							<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-6 col-md-6 col-lg-3 mb-4">#}
{#						<div class="feature">#}
{#							<div class="icon">#}
{#								<img src="images/truck.svg" alt="Image" class="imf-fluid">#}
{#							</div>#}
{#							<h3>Fast &amp; Free Shipping</h3>#}
{#							<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-6 col-md-6 col-lg-3 mb-4">#}
{#						<div class="feature">#}
{#							<div class="icon">#}
{#								<img src="images/bag.svg" alt="Image" class="imf-fluid">#}
{#							</div>#}
{#							<h3>Easy to Shop</h3>#}
{#							<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-6 col-md-6 col-lg-3 mb-4">#}
{#						<div class="feature">#}
{#							<div class="icon">#}
{#								<img src="images/support.svg" alt="Image" class="imf-fluid">#}
{#							</div>#}
{#							<h3>24/7 Support</h3>#}
{#							<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-6 col-md-6 col-lg-3 mb-4">#}
{#						<div class="feature">#}
{#							<div class="icon">#}
{#								<img src="images/return.svg" alt="Image" class="imf-fluid">#}
{#							</div>#}
{#							<h3>Hassle Free Returns</h3>#}
{#							<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>#}
{#						</div>#}
{#					</div>#}
{##}
{#				</div>#}
{#			#}
{#			</div>#}
{#		</div>#}
		<!-- End Why Choose Us Section -->

            {# brands ordered alphabetically #}

            <div class="row my-5">
                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <h3> <a href="#"></a>brand name</h3>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}