{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="blog-section">

        <div class="container">
            <div class="row">
                <div class="row mb-5">
                    <div class="col-md-7">
                        <h1 class="section-title">Products</h1>
                    </div>

                    <div class="col-md-5 text-start text-md-end">

                        <form action="{% url 'list products' %}" class="row g-2" method="get">
                            <div class="col-9">
                                <input id="search-bar" type="text" class="form-control" placeholder="Search"
                                       name="searched_word" value="{{ searched_word }}">
                            </div>
                            <div class="col-auto">
                                <button id="search-button" class="btn btn-primary">
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-3">

                    <h3 class="py-2">Filters</h3>
                        <form action="{% url 'list products' %}" class="row g-2" method="get">

                            <div class="mb-4 border-top">
                                <label for="category-filter" class="form-label fw-bold pt-4">Category:</label>
                                <select class="form-select form-control" id="category-filter" name="searched_category">
                                    <option value="">All</option>
                                    <option value="Make-up">Make-up</option>
                                    <option value="Skin care">Skin care</option>
                                    <option value="Hair care">Hair care</option>
                                    <option value="Personal Care">Personal Care</option>
                                </select>
                            </div>

                            <div class="mb-4">
                                <label for="brand-filter" class="form-label fw-bold">Brand:</label>
                                <input id="search-bar" type="text" class="form-control" placeholder="Brand name"
                                       name="searched_brand" value="{{ searched_brand }}">
                            </div>

                           <div class="col-12 mb-4">
                               <div><label for="price-range" class="form-label fw-bold">Max Price:</label></div>
                                <div class="fa fa-sliders">
                                    <input type="range" class="form-row" id="price-range" name="max_price" min="0" max={{ highest_price }} step="0.01" value="500">
                                </div>
                                <span class="h5" id="price-value">{{ highest_price }}</span>
                            </div>

                        <button type="submit" class="btn btn-primary">Apply Filters</button>
                    </form>
                </div>

            <div class="col-md-9">

                {% if not object_list %}

                    <p>There are such products.</p>

                {% else %}

                    <div class="untree_co-section product-section before-footer-section">
                        <div class="container">
                            <div class="row">

                                {% for product in object_list %}

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-5">
                                    <a class="product-item" href="{% url 'details product' slug=product.slug %}">
                                        <img src="{{ product.image_product.url }}" class="img-fluid product-thumbnail" alt="product">
                                        <h3 class="product-title">{{ product.title_product }}</h3>
                                        <h4 class="product-title text-muted">{{ product.brand }}</h4>
                                        <strong class="product-price">{{ product.price }}$</strong>

                                        <span class="icon-cross">
                                            <img src="{% static 'images/cross.svg' %}" class="img-fluid" alt="">
                                        </span>
                                    </a>
                                </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        {% endif %}

        </div>

{#        <h3 class="text-center">#}
{#            {% if paginator.num_pages > 1 %}#}
{#                {% if page_obj.has_previous %}#}
{#                    <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">&lt;</a>#}
{#                {% else %}#}
{#                    <a>&lt;</a>#}
{#                {% endif %}#}
{##}
{#                {{ page_obj.number }} / {{ paginator.num_pages }}#}
{##}
{#                {% if page_obj.has_next %}#}
{#                    <a href="?page={{ page_obj.next_page_number }}&search={{ search }}">&gt;</a>#}
{#                {% else %}#}
{#                    <a>&gt;</a>#}
{#                {% endif %}#}
{#            {% endif %}#}
{#        </h3>#}

    </div>


{% endblock %}