{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="blog-section">

        <div class="container">
            <div class="row">
                <div class="row mb-5">
                    <div class="col-md-7">
                        <h1 class="section-title">Products</h1>
                    </div>

                    <div class="col-md-5 text-start text-md-end">

                        <form action="{% url 'list products' %}" class="row g-2" method="get">
                            <div class="col-9">
                                <input id="search-bar" type="text" class="form-control" placeholder="Search"
                                       name="searched_product" value="{{ searched_product }}">
                            </div>
                            <div class="col-auto">
                                <button id="search-button" class="btn btn-secondary">
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-2">

                    <h3 class="py-2">Filters</h3>

                    <form action="{% url 'list products' %}" method="get">
                        <b>{{ filter_products.as_p }}</b>
                        <button type="submit" class="btn btn-secondary">Apply Filters</button>
                    </form>

                </div>

            <div class="col-md-10">

                {% if not object_list %}

                    <p>There are such products.</p>

                {% else %}

                    <div class="untree_co-section product-section before-footer-section">
                        <div class="container">
                            <div class="row">

                                {% for product in object_list %}

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-5">
                                    <a class="product-item" href="{% url 'details product' slug=product.slug %}">
                                        <img src="{{ product.image_product }}" class="img-fluid product-thumbnail" alt="product">
                                        <h3 class="product-title">{{ product.title_product }}</h3>
                                        <h4 class="product-title text-muted">{{ product.brand }}</h4>
                                        <strong class="product-price">{{ product.price }}$</strong>

                                        <span class="icon-cross">
                                            <img src="{% static 'images/cross.svg' %}" class="img-fluid" alt="">
                                        </span>
                                    </a>
                                </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        {% endif %}

        </div>

    </div>


{% endblock %}