{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="blog-section">

        <div class="container">
            <div class="row">
                <div class="row mb-5">
                    <div class="col-md-9">
                        <h1 class="section-title">Products</h1>
                        {#  {% if user.is_staff %}  #}

                            <a href="{% url 'create product' %}" class="btn btn-secondary me-2">Add new product</a>

                        {#  {% endif %}  #}
                    </div>

                    <div class="col-md-3 text-start text-md-end">

                        <form action="{% url 'list products' %}" class="row g-3" method="get">
                            <div class="col-md-5">
                                <input id="search-bar" type="text" class="form-control" placeholder="Search"
                                       name="searched_word" value="{{ searched_word }}">
                            </div>
                            <div class="col-auto">
                                <button id="search-button" class="btn btn-primary">
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>


        <div class="container">
            <div class="row">

                {% if not object_list %}

                    <p>There are no products.</p>

                {% else %}


                    <div class="untree_co-section product-section before-footer-section">
                        <div class="container">
                            <div class="row">

                                {% for product in object_list %}

                                <div class="col-12 col-md-4 col-lg-3 mb-5">
                                    <a class="product-item" href="{% url 'details product' slug=product.slug %}">
                                        <img src="{{ product.image_product.url }}" class="img-fluid product-thumbnail" alt="product">
                                        <h3 class="product-title">{{ product.title_product }}</h3>
                                        <h4 class="product-title text-muted">{{ product.brand }}</h4>
                                        <strong class="product-price">{{ product.price }}$</strong>

                                        <span class="icon-cross">
                                            <img src="{% static 'images/cross.svg' %}" class="img-fluid" alt="">
                                        </span>
                                    </a>
                                </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        {% endif %}

{#        <h3 class="text-center">#}
{#            {% if paginator.num_pages > 1 %}#}
{#                {% if page_obj.has_previous %}#}
{#                    <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">&lt;</a>#}
{#                {% else %}#}
{#                    <a>&lt;</a>#}
{#                {% endif %}#}
{##}
{#                {{ page_obj.number }} / {{ paginator.num_pages }}#}
{##}
{#                {% if page_obj.has_next %}#}
{#                    <a href="?page={{ page_obj.next_page_number }}&search={{ search }}">&gt;</a>#}
{#                {% else %}#}
{#                    <a>&gt;</a>#}
{#                {% endif %}#}
{#            {% endif %}#}
{#        </h3>#}

    </div>


{% endblock %}