{% extends 'base.html' %}

{% load static %}

{% block main_content %}


    <h1>Some Article</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum lorem a sem condimentum ultricies.
        Praesent pulvinar lacus elementum pretium semper. Sed nec nisl vestibulum, porttitor nibh in, pulvinar odio.
        Praesent a mauris imperdiet, condimentum mauris eget, rhoncus arcu. Aliquam id sem eget leo semper iaculis id et
        lacus. Fusce posuere bibendum lacus non tempor. Nunc venenatis cursus ipsum, eu vestibulum libero faucibus eu.
        Vivamus in nisi vehicula lectus congue vestibulum.
    </p>

    <p>
        Integer posuere, metus a mollis aliquam, magna nibh tempus nulla, et aliquam sapien ipsum ut leo. Vivamus consequat
        mi vel arcu fringilla, mollis aliquet ex varius. Vivamus quis eros eget ante laoreet lacinia eu et felis. Maecenas
        eget placerat mauris. Donec et metus sed erat tincidunt congue. Maecenas luctus tellus vitae nisl tempus maximus.
        Proin sagittis diam ut dolor molestie semper. Maecenas eget viverra orci, in aliquet mauris. Donec euismod nulla at
        pretium vestibulum. Sed id pharetra justo.
    </p>

    <p>
        Cras vulputate et dui in suscipit. Maecenas in nunc ut sapien semper lobortis. Phasellus dui metus, aliquam sed
        consectetur in, vulputate ut augue. Vivamus maximus pulvinar velit, sed porttitor nulla. Pellentesque rhoncus nulla
        non consectetur dapibus. Duis est diam, egestas non consectetur a, dictum id erat. Pellentesque pharetra justo odio,
        sed dignissim quam condimentum sit amet. Nunc ut nisl bibendum, tempus neque eget, tempus est. Cras eget lacus sed
        neque pulvinar posuere. Sed faucibus ornare eros non ultricies. Integer gravida urna ac maximus placerat.
        Vestibulum sed ipsum faucibus, placerat arcu id, gravida magna. Mauris id rhoncus arcu, a imperdiet lorem.
    </p>

{% endblock %}