{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="untree_co-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center pt-5">
                    <span class="display-3 thankyou-icon text-primary">
                        <img src="{% static 'images/garbage-trash-svgrepo-com.svg' %}" alt="garbage">
                    </span>

                    <form action="{% url 'delete article' pk=object.pk %}" method="post">
                        <h3 class="display-3 text-black">Delete Article</h3>
                        <p class="lead mb-5">
                            Are you sure you want to delete the article "<strong>{{ article.title }}</strong>"?
                        </p>
                        <button class="btn btn-sm btn-outline-black">Delete</button>
                        {% csrf_token %}
                    </form>

                    <div class="my-5"></div>
                    <p><a href="{% url 'list articles' %}" class="btn btn-sm btn-outline-black">Cancel</a></p>
                </div>

                </div>
            </div>
        </div>

{% endblock %}