{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="blog-section">

        <div class="container">
            <div class="row">
                <div class="row mb-5">
                    <div class="col-md-7">
                        <h1 class="section-title">Latest articles</h1>
                    </div>

                    <div class="col-md-5 text-start text-md-end">

                        <form action="{% url 'list articles' %}" class="row g-2" method="get">
                            <div class="col-9">
                                <input id="search-bar" type="text" class="form-control" placeholder="Search"
                                       name="searched_word" value="{{ searched_word }}">
                            </div>
                            <div class="col-auto">
                                <button id="search-button" class="btn btn-primary">
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">

                {% if not object_list %}

                    <p>There are no such articles.</p>

                {% else %}

                {% for article in object_list %}

                    <div class="col-12 col-sm-6 col-md-4 mb-5">
                        <div class="post-entry">
                            <a href="{% url 'details article' pk=article.pk %}" class="post-thumbnail">
                                <div class="img-wrapper-article">
                                    <img src="{{ article.article_image.url }}" alt="article image" class="img-fluid">
                                </div>
                            </a>
                            <div class="post-content-entry">
                                <h3><a href="{% url 'details article' pk=article.pk %}">{{ article.title }}</a></h3>
                                <div class="meta">
                                    <span class="text text-muted">Published at {{ article.published_at|date:"d F o" }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

                </div>
            </div>

        {% endif %}

        <h5 class="text-center">
            {% if paginator.num_pages > 1 %}
                {% if page_obj.has_previous %}
                    <a class="fa fw-bold form" href="?page={{ page_obj.previous_page_number }}&search={{ search }}"><i class="fa-solid fa-angle-left"></i></a>
                {% else %}
                    <a><i class="fa-solid fa-angle-left"></i></a>
                {% endif %}

                 {% for page_number in paginator.page_range %}
                    {% if page_number == page_obj.number %}
                        <span class="fa fw-bold">{{ page_number }}</span>
                    {% else %}
                        <a href="?page={{ page_number }}&search={{ search }}">{{ page_number }}</a>
                    {% endif %}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&search={{ search }}"><i class="fa-solid fa-angle-right"></i></a>
                {% else %}
                    <a><i class="fa-solid fa-angle-right"></i></a>
                {% endif %}
            {% endif %}
        </h5>

    </div>


{% endblock %}