{% extends 'base.html' %}

{% load static %}

{% block main_content %}


    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Blog</h1>
                        <p class="mb-4">
                            Discover expert Tips and Trends. Elevate your routine with the best beauty practices
                            and products.
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img width=77% src="{% static 'images/blog.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="blog-section">

        {% if not object_list %}

            <p>There is no products.</p>

        {% else %}

            <h1 class="articles">Articles:</h1>

            <div class="container">

                <div class="row">

                {% for article in object_list %}

                    <div class="col-12 col-sm-6 col-md-4 mb-5">
                        <div class="post-entry">
                            <a href="{% url 'details article' pk=article.pk %}" class="post-thumbnail">
                                <img width="300px" src="{{ article.article_image.url }}" alt="article image" class="img-fluid">
                            </a>
                            <div class="post-content-entry">
                                <h3><a href="{% url 'details article' pk=article.pk %}">{{ article.title }}</a></h3>
                                <div class="meta">
                                    <span>Published at {{ article.published_at|date:"d F o" }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

                </div>
            </div>

        {% endif %}

    </div>


{% endblock %}