{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="hero about">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>About Us</h1>
                        <p>We are online cosmetics store for makeup, skincare and haircare products.</p>
                        <p>
                            <a href="{% url 'list products' %}" class="btn btn-secondary me-2">Products</a>
                            <a href="{% url 'list brands' %}" class="btn btn-white-outline">Brands</a>
                        </p>
                    </div>
                </div>

                <div class="col-lg-7">
                    <!-- Start Slider -->
                    <div class="testimonial-section before-footer-section mt-0">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7 mx-auto text-center mb-1">
                                    <h2 class="section-title fw-bold">Achievements</h2>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <div class="testimonial-slider-wrap text-center">

                                        <div id="testimonial-nav">
                                            <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                                            <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                                        </div>

                                        <div class="testimonial-slider">

                                            <div class="item">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-8 mx-auto">
                                                        <div class="testimonial-block text-center">
                                                            <h2 class="mb-3"><i class="fa fa-users fw-bold"></i></h2>
                                                            <h4>Registered users: {{ total_users }}</h4>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END item -->

                                            <div class="item">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-8 mx-auto">
                                                        <div class="testimonial-block text-center">
                                                            <h2 class="mb-3"><i class="fa fa-bag-shopping"></i></h2>
                                                            <h4>Completed orders: {{ total_orders }}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END item -->

                                             <div class="item">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-8 mx-auto">
                                                        <div class="testimonial-block text-center">
                                                            <h2 class="mb-3"><img style="width: 9%" class="text-black" src="{% static 'images/cosmetics-svgrepo-com.svg' %}" alt=""></img></h2>
                                                            <h4>Products: {{ total_products }}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END item -->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End  Slider -->

                </div>
            </div>
        </div>
    </div>


<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <h2 class="section-title">Welcome to Best Beauty!</h2>
                <p>
                    Entering our store, you're stepping into a realm of beauty, self-care, and lifestyle, all
                    conveniently located in one place. Here, you will discover everything you need for yourself and
                    your loved ones, allowing us to cater to your health, beauty, and well-being needs.
                </p>
                <p>
                    We are proud retailers of prestigious cosmetics, makeup brands, and hair products. Our commitment
                    to excellence means that we source our products directly from manufacturers, ensuring authenticity,
                    and quality. Our selection comprises original, high-quality, and niche brands.
                </p>
                <p>
                    In our blog, you can discover the latest trends and news related to the world of cosmetics and
                    beauty, provided directly by the brands. Over time, we will add more brands and lines, expanding our
                    portfolio to meet your demands. If you are a supplier, you can contact us and your products can
                    easily become part of our portfolio. Feel free to reach out to us at <b>sales@bestbeauty.com</b>.
                </p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{% static 'images/truck.svg' %}" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Fast Shipping</h3>
                            <p>
                                Enjoy fast delivery within 3-5 working days, to Econt / Speedy office, or directly to
                                your doorstep.
                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{% static 'images/shopping-bag-3-svgrepo-com.svg' %}" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Easy to Shop</h3>
                            <p>Placing orders is effortless, requiring just a few clicks.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="{% static 'images/cosmetics2.png' %}" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
