{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <div class="intro-excerpt">
                        <h1 class="py-3">
                            Welcome to Best Beauty{% if user.is_authenticated %}, {{ user.username }} {% endif %}
                        </h1>
                        <p class="mb-4">
                            Skincare, Makeup, Hair, and Beauty Products - all in one place.
                        </p>
                        <p>
                            <a href="{% url 'list products' %}" class="btn btn-secondary me-2">Products</a>
                            <a href="{% url 'list brands' %}" class="btn btn-secondary">Brands</a>
                        </p>
                    </div>
                </div>


             <div class="col-lg-8">
                 <div class="testimonial-section before-footer-section mt-0">
                    <div class="container">

                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="testimonial-slider-wrap text-center">

                                    <div id="testimonial-nav">
                                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                                    </div>

                                    <div class="testimonial-slider">

                                        <div class="item">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-8 mx-auto">
                                                    <div class="testimonial-block text-center">
                                                        <a href="{% url 'list products' %}?category=Skin+care">
                                                            <img class="img-fluid" src="{% static 'images/hp_slider1.png' %}" alt="">
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-8 mx-auto">
                                                    <div class="testimonial-block text-center">
                                                        <a href="{% url 'list products' %}?category=Hair+care">
                                                            <img class="img-fluid" src="{% static 'images/hp_slider3.png' %}" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                         <div class="item">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-8 mx-auto">
                                                    <div class="testimonial-block text-center">
                                                        <a href="{% url 'list products' %}?category=Personal+Care">
                                                            <img class="img-fluid" src="{% static 'images/ph_slider2.png' %}" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

             </div>

            </div>
        </div>
    </div>

    <!-- Start Product Section -->
    <div class="product-section">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                    <h2 class="mb-4 section-title">Best sellers:</h2>
                    <p class="mb-4">
                        Discover newest cosmetics product to enhance your beauty routine from the hottest brands at Best Beauty.
                    </p>
                    <p><a href="{% url 'list products' %}" class="btn">Explore</a></p>
                </div>

                {% for product in best_sellers %}
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="{% url 'details product' slug=product.slug %}">
                        <img src="{{ product.image_product }}" alt="product" class="img-fluid product-thumbnail">
                        <h3 class="product-title">{{ product.title_product }}</h3>
                        <strong class="product-price">${{ product.price }}</strong>

                        <span class="icon-cross">
                            <img src="{% static 'images/cross.svg' %}" class="img-fluid" alt="">
                        </span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Product Section -->

    <!-- Start Blog Section -->
    <div class="blog-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <h2 class="section-title">Recent Blog</h2>
                </div>
                <div class="col-md-6 text-start text-md-end">
                    <h5><a href="{% url 'list articles' %}" class="more">View All Articles</a></h5>
                </div>
            </div>

            <div class="row">
                {% for article in latest_articles %}
                <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                    <div class="post-entry">
                    <a href="{% url 'details article' pk=article.pk %}" class="post-thumbnail">
                        <img width="80%" src="{{ article.article_image }}" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="{% url 'details article' pk=article.pk %}">{{ article.title }}</a></h3>
                        <div class="meta">
                            <span>Published on: <a href="{% url 'details article' pk=article.pk %}">{{ article.published_at|date:"d M Y, h:m" }}</a></span>
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- End Blog Section -->

{% endblock %}