{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>
                            Welcome to the world of Best Beauty{% if user.is_authenticated %}, {{ user.username }} {% endif %}
                        </h1>
                        <p class="mb-4">
                            Skincare, Makeup, Hair, and Beauty Products - all in one place.
                        </p>
                        <p>
                            <a href="{% url 'list products' %}" class="btn btn-secondary me-2">Products</a>
                            <a href="{% url 'list brands' %}" class="btn btn-white-outline">Brands</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img width=85% src="{% static 'images/girl_homepage.png' %}" alt="cosmetics" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="image-container" style="background-image: url({% static 'images/girl_homepage.png' %});"></div>
            </div>
        </div>
    </div>



		<!-- Start Product Section -->
    <div class="product-section">
        <div class="container">
            <div class="row">

                <!-- Start Column 1 -->
                <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                    <h2 class="mb-4 section-title">Best sellers</h2>
                    <p class="mb-4">
                        Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.
                    </p>
                    <p><a href="../products/list_products.html" class="btn">Explore</a></p>
                </div>
                <!-- End Column 1 -->

                <!-- Start Column 2 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="../orders/my_cart.html">
                        <img src="{% static 'images/product-1.png' %}" class="img-fluid product-thumbnail">
                        <h3 class="product-title">Product 1</h3>
                        <strong class="product-price">$20.00</strong>

                        <span class="icon-cross">
                            <img src="images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
                <!-- End Column 2 -->


            </div>
        </div>
    </div>
    <!-- End Product Section -->

    <!-- Start Blog Section -->
    <div class="blog-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <h2 class="section-title">Recent Blog</h2>
                </div>
                <div class="col-md-6 text-start text-md-end">
                    <h5><a href="{% url 'list articles' %}" class="more">View All Articles</a></h5>
                </div>
            </div>

            <div class="row">
                {% for article in latest_articles %}
                <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                    <div class="post-entry">
                    <a href="{% url 'details article' pk=article.pk %}" class="post-thumbnail">
                        <img width="80%" src="{{ article.article_image.url }}" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="{% url 'details article' pk=article.pk %}">{{ article.title }}</a></h3>
                        <div class="meta">
                            <span>Published on: <a href="{% url 'details article' pk=article.pk %}">{{ article.published_at|date:"d M Y, h:m" }}</a></span>
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- End Blog Section -->

{% endblock %}