{% extends 'base.html' %}

{% load static %}

{% block main_content %}

		<div class="untree_co-section before-footer-section">
		    <div class="container">

                <div class="row mb-3">
                    <div class="row mb-5 py-3 justify-content-center">
                        <div class="col-lg-3">
                            <div  class="service no-shadow align-items-center link horizontal d-flex active" data-aos="fade-left" data-aos-delay="0">
                                <div class="service-icon mb-2" style="background-color: #fad9da"><i class="fas fa-check-circle"></i></div>
                                <div class="service-contents">
                                    <h6 class="text-muted"><b>Order details</b></h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="service no-shadow align-items-center link horizontal d-flex active" data-aos="fade-left" data-aos-delay="0">
                                <div class="service-icon mb-2"><i class="fas fa-check-circle"></i></div>
                                <div class="service-contents">
                                    <h6><b>Shipping details</b></h6>
                                </div>
                            </div>
                        </div>
                    </div>

		      <div class="row">
		        <div class="col-md-6 mb-5 mb-md-0">
		          <h2 class="h3 mb-3 text-black">Billing Details</h2>
		          <div class="p-3 p-lg-5 border bg-white">

		            <div class="form-group row">
		              <div class="col-md-6 mb-3"><b>First name:</b>
		                <div class="text-black form-control"> {{ request.user.first_name }}</div>
		              </div>
		              <div class="col-md-6 mb-3"><b>Last name:</b>
		                <div class="text-black form-control"> {{ request.user.last_name }}</div>
		              </div>
		            </div>

                    <div class="form-group row">
		              <div class="col-md-6 mb-4"><b>Email:</b>
		                <div class="text-black form-control"> {{ request.user.email }}</div>
		              </div>
		              <div class="col-md-6 mb-4"><b>Phone number:</b>
		                <div class="text-black form-control"> {{ request.user.phone }}</div>
		              </div>
		            </div>

                      <div class="form-group">
		                  <a href="{% url 'edit user' pk=request.user.pk %}" class="btn btn-secondary py-2 btn-block">Change Profile Details</a>
                      </div>

                      <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                      </div>

                      <div class="form-group">

                        <form action="{% url 'checkout' %}" method="post">
                            <div class="form-group row">
                                <div class="col-md-6 mb-3"><b>Country: </b><span class="text-danger">*</span>
                                    <div>{{ form.country }}</div>
                                </div>

{#                                  <label for="c_ship_different_address" class="text-black" data-bs-toggle="collapse" href="#ship_different_address" role="button" aria-expanded="false" aria-controls="ship_different_address"><input type="checkbox" value="1" id="c_ship_different_address"> Ship To A Different Address?</label>#}
{#                                  <div class="collapse" id="ship_different_address">#}
{#                                    <div class="py-2">#}
{#            #}
{#                                      <div class="form-group">#}
{#                                        <label for="c_diff_country" class="text-black">Country <span class="text-danger">*</span></label>#}
{#                                        <select id="c_diff_country" class="form-control">#}
{#                                          <option value="1">Select a country</option>    #}
{#                                          <option value="2">bangladesh</option>    #}
{#                                          <option value="3">Algeria</option>    #}
{#                                          <option value="4">Afghanistan</option>    #}
{#                                          <option value="5">Ghana</option>    #}
{#                                          <option value="6">Albania</option>    #}
{#                                          <option value="7">Bahrain</option>    #}
{#                                          <option value="8">Colombia</option>    #}
{#                                          <option value="9">Dominican Republic</option>    #}
{#                                        </select>#}
{#                                      </div>#}

                                <div class="col-md-6 mb-3"><b>City: </b><span class="text-danger">*</span>
                                    <div>{{ form.city }}</div>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3"><b>Street: </b><span class="text-danger">*</span>
                                <div>{{ form.street_address }}</div>
                            </div>

                            <div class="col-md-12 mb-4"><b>Order Notes: </b>
                                <div>{{ form.notes }}</div>
                            </div>

                            {% csrf_token %}

                            <button class="btn btn-black btn-block me-4 btn-lg" onclick="window.location='thankyou.html'">Place Order</button>
                        </form>

                      </div>

		          </div>
		        </div>
		        <div class="col-md-6">

		          <div class="row mb-5">
		            <div class="col-md-12">
		              <h2 class="h3 mb-3 text-black">Your Order</h2>
		              <div class="p-3 p-lg-5 border bg-white">
		                <table class="table site-block-order-table mb-5">
		                  <thead>
		                    <th>Product</th>
		                    <th>Total</th>
		                  </thead>
		                  <tbody>

                          {% for order_product in current_order.products.all %}
		                    <tr>
		                      <td>{{ order_product.product.title_product }} <strong class="mx-2">x</strong> {{ order_product.quantity }}</td>
		                      <td>${{ order_product.product.price }}</td>
		                    </tr>
                          {% endfor %}
		                    <tr>
		                      <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
		                      <td class="text-black font-weight-bold"><strong>${{ current_order.total_sum }}</strong></td>
		                    </tr>
		                  </tbody>
		                </table>

		                <div class="border p-3 mb-3">
		                  <h3 class="h6 mb-0">
                              <a class="d-block" data-bs-toggle="collapse" href="#collapsebank" role="button"
                                 aria-expanded="false" aria-controls="collapsebank">Direct bank transfer&nbsp;
                              <i class="fa-solid fa-angle-down"></i></a>
                          </h3>
		                  <div class="collapse" id="collapsebank">
		                    <div class="py-2">
		                      <p class="mb-0">
                                  Make your payment directly into our bank account. Please use your Order ID as the payment
                                  reference. Your order won’t be shipped until the funds have cleared in our account.
                              </p>
		                    </div>
		                  </div>
		                </div>

		                <div class="border p-3 mb-3">
		                  <h3 class="h6 mb-0">
                              <a class="d-block" data-bs-toggle="collapse" href="#collapsecheque" role="button"
                                 aria-expanded="false" aria-controls="collapsecheque">Cash on delivery&nbsp;
                                  <i class="fa-solid fa-angle-down"></i></a>
                          </h3>
		                  <div class="collapse" id="collapsecheque">
		                    <div class="py-2">
		                      <p class="mb-0">
                                  A payment method, providing you the convenience of paying for your purchases in cash
                                  at the time of delivery, while our couriers and express delivery services ensure
                                  seamless collection and transfer of funds between the recipient and sender.
                              </p>
		                    </div>
		                  </div>
		                </div>

		              </div>
		            </div>
		          </div>

		        </div>
		      </div>
		      <!-- </form> -->
		    </div>
		  </div>
        </div>


{% endblock %}