{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="untree_co-section before-footer-section">
        <div class="container">
            <div class="row mb-5">

            <div class="row mb-5 py-3 justify-content-center">
              <div class="col-lg-3">
                  <div  class="service no-shadow align-items-center link horizontal d-flex active" data-aos="fade-left" data-aos-delay="0">
                      <div class="service-icon mb-2"><i class="fas fa-check-circle"></i></div>
                      <div class="service-contents">
                          <h6><b>Order details</b></h6>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3">
                  <div class="service no-shadow align-items-center link horizontal d-flex active" data-aos="fade-left" data-aos-delay="0">
                      <div class="service-icon mb-2" style="background-color: #fad9da"><i class="fas fa-check-circle"></i></div>
                      <div class="service-contents">
                          <h6 class="text-muted"><b>Shipping details</b></h6>
                      </div>
                  </div>
              </div>

            </div>

            {% if not object.products.all %}
              <h3>Your cart is empty!</h3>
            {% else %}

              <div class="site-blocks-table">
                  <table class="table">
                      <thead>
                      <tr>
                          <th class="product-thumbnail">Image</th>
                          <th class="product-name">Product</th>
                          <th class="product-price">Price</th>
                          <th class="product-quantity">Quantity</th>
                          <th class="product-total">Total</th>
                          <th class="product-remove">Remove</th>
                      </tr>
                      </thead>
                      <tbody>

                      {% for order_product in object.products.all %}
                          <tr>
                              <td class="product-thumbnail">
                                  <img width="40%" src="{{ order_product.product.image_product }}" alt="Image" class="img-fluid">
                              </td>
                              <td><h6>{{ order_product.product.title_product }}</h6></td>
                              <td><h6>${{ order_product.product.price }}</h6></td>
                              <td>
                                  <div class="input-group-append">
                                      <a href="{% url 'decrease product quantity' slug=order_product.product.slug %}"><i class="fa-solid fa-minus"></i></a>
                                      <b><span class="px-2">{{ order_product.quantity }}</span></b>
                                      <a href="{% url 'add to cart' slug=order_product.product.slug %}"><i class="fa-solid fa-plus"></i></a>
                                  </div>
                              </td>
                              <td><h6>${{ order_product.get_product_sum }}</h6></td>
                              <td>
                                  <a class="btn btn-black btn-lg" href="{% url 'remove from cart' slug=order_product.product.slug %}">
                                  <i class="fa-solid fa-xmark"></i></a>
                              </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
              </div>

              <div class="col">
                  <div class="row justify-content-end">
                      <div class="col-md-5">
                          <div class="row justify-content-between">
                              <div class="col-md-12 text-right border-bottom mb-5">
                                  <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                              </div>
                          </div>
                          <div class="row mb-5">
                              <div class="col-lg-8">
                                  <span class="text-black h5">Total</span>
                              </div>
                              <div class="col-md-auto text-right">
                                  <h5><strong class="text-black">${{ object.total_sum }}</strong></h5>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 align-content-lg-between">
                                  <a class="btn btn-black btn-block btn btn-secondary me-4" href="#">
                                      <i class="fa-solid fa-angle-left"></i>&nbsp; Back to shopping
                                  </a>
                                  <a class="btn btn-black btn-block" href="{% url 'checkout' %}">Proceed to checkout&nbsp;
                                      <i class="fa-solid fa-angle-right"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
