{% extends 'base.html' %}

{% load format_products %}

{% load static %}

{% block main_content %}

    <div class="untree_co-section">
        <div class="container">

            <div class="col-md-12">
		          <div class="row mb-5">
                      <div class="col-md-12">

                          {% if not all_placed_orders %}
                              <h2 class="h3 mb-4 text-black">There is no placed orders.</h2>
                          {% else %}
                              <h2 class="h3 mb-4 text-black">Placed orders:</h2>
                              <hr>
                              <div class="site-blocks-table">
                              <table class="table">
                                  <thead>
                                  <tr>
                                      <th class="product-name">order ID</th>
                                      <th class="product-name">Date</th>
                                      <th class="product-name">Ordered products</th>
                                      <th class="product-total">Total price</th>
                                      <th class="product-name">Customer details</th>
                                  </tr>
                                  </thead>
                                  <tbody>

                                  {% for order in all_placed_orders %}
                                      <tr>
                                        <td><h6>{{ order.order_id}}</h6></td>
                                        <td><h6>{{ order.completion_order_date }}</h6></td>
                                        <td><h6>{{ order|join_product_quantity }}</h6>
                                        </td>
                                        <td><h6>${{ order.total_sum }}</h6></td>
                                        <td class="text-start">
                                            <h6 class="ps-5">Names: {{ order.user.first_name }} {{ order.user.last_name }}:</h6>
                                            <h6 class="ps-5">Phone number: {{ order.user.phone }}</h6>
                                            <h6 class="ps-5">Address: {{ order.shipping_address.country }}, {{ order.shipping_address.city }}, {{ order.shipping_address.street_address }}</h6>
                                        </td>
{#                                        <td>#}
{#                                            <div class="border p-3">#}
{#                                              <h3 class="h6 mb-0">#}
{#                                                  <a class="d-block" data-bs-toggle="collapse" href="#collapsecheque" role="button"#}
{#                                                     aria-expanded="false" aria-controls="collapsecheque">User details:&nbsp;#}
{#                                                      <i class="fa-solid fa-angle-down"></i></a>#}
{#                                              </h3>#}
{#                                              <div class="collapse" id="collapsecheque">#}
{#                                                <div class="py-2"><p class="mb-0">user names, adress, notes</p></div>#}
{#                                              </div>#}
{#                                            </div>#}
{#                                        </td>#}
                                      </tr>
                                   {% endfor %}

                                  </tbody>
                              </table>

                          {% endif %}
                        </div>
                    </div>

                  </div>
            </div>
        </div>
    </div>

{% endblock %}